.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
dist/
build/
*.egg
*.egg-info/
*.egg-info
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
tmp
/static/*
!/static/assets

__pycache__/
instance/


/source-module/*
!/source-module/empty
app-module/*


pf-libraries
user-interface


node_modules
*.lock
*-lock.json
flask-rest.sqlite3
xyz/*
*.sqlite3
pf-flask.egg-info
